* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #6a62d2;
  font-family: Arial, Helvetica, sans-serif;
}
